.paginationBlock {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.disabled {
  background-color: #3e3e3e;
}

.disabled:hover {
  cursor: auto;
  background-color: #3e3e3e;
  color: black;
  border: 0px;
}
