.container {
  display: flex;
  justify-content: center;
}

.limitInput {
  height: 40px;
  width: 50px;
  background-color: #fcca4c;
  color: #000000;
  border: 1px solid transparent;
  text-align: center;
  font-size: 1.2em;
}
